<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @agendacategory.category %>
</p>

<%= link_to 'Edit', edit_agendacategory_path(@agendacategory) %> |
<%= link_to 'Back', agendacategories_path %>
